:root {
    --primary-color: #0b0147; /* Azul predominante */
    --secondary-color: #afae02; /* Amarillo */
    --light-color: #ffffff;
    --dark-color: #000000;
    --secondary-color-darkened: #8e8d00; /* Calcula este color manualmente si no usas un preprocesador */
}

body {
    font-family: sans-serif;
    margin: 0;
    color: var(--dark-color);
    background-color: var(--light-color); /* Fondo blanco */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: var(--primary-color); 
    color: var(--light-color);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    font-size: 36px; 
    font-weight: bold;
    color: var(--light-color); 
}

.logo img {
    max-height: 80px; 
    vertical-align: middle;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 30px;
}

nav a {
    color: var(--light-color);
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover,
nav a.active {
    color: var(--secondary-color); 
    font-weight: bold; 
}

/* Botones */
.btn {
    background-color: var(--secondary-color);
    color: var(--primary-color); 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--secondary-color-darkened);
}

/* Servicios y Proyectos */
.service, .project {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.3s; 
}

.service:hover, .project:hover {
    transform: translateY(-5px); 
}

.service i, .project h3, .services-page h2, .projects-page h2 {
    color: var(--primary-color);
}

.service-grid, .project-grid {
    display: grid;
    gap: 30px;
}

.service-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Contacto */
.contact-page input, .contact-page textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* ... otros estilos ... */

